<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Audiotica' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'Audiotica' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>b48070cc-d74c-476f-b7e6-3025bca907f3</InstrumentationKey>
</ApplicationInsights>