<?xml version="1.0" encoding="utf-8"?>

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Audiotica.Windows' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ea46ac66-2197-49da-809d-dfef09474b4b</InstrumentationKey>
</ApplicationInsights>