<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWinPhone81" version="9.0.0.1" targetFramework="wpa81" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="wpa81" />
  <package id="GoogleAnalyticsSDK" version="1.2.12" targetFramework="wpa81" />
  <package id="IF.Lastfm.Zumicts" version="0.4.1" targetFramework="wpa81" />
  <package id="LumiaImagingSDK" version="2.0.184" targetFramework="wpa81" />
  <package id="Microsoft.AdMediator.WindowsPhone81.AdDuplex" version="1.0.12" targetFramework="wpa81" />
  <package id="Microsoft.AdMediator.WindowsPhone81.MicrosoftAdvertising" version="1.0.13" targetFramework="wpa81" />
  <package id="Microsoft.AdMediator.WindowsPhone81.Smaato" version="1.0.6" targetFramework="wpa81" />
  <package id="Microsoft.Advertising.WindowsPhone.Xaml81" version="8.1.40505.0" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="MvvmLightLibs" version="5.1.1.0" targetFramework="wpa81" />
  <package id="MyToolkit" version="2.3.28.0" targetFramework="wpa81" />
  <package id="MyToolkit.Extended" version="2.3.28.0" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="NokiaImagingSDK" version="2.0.0" targetFramework="wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wpa81" />
  <package id="QKit" version="0.4.1" targetFramework="wpa81" />
  <package id="SOMAW81_Package" version="1.1.9" targetFramework="wpa81" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="wpa81" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="wpa81" />
  <package id="TagLib.Portable.Zumicts" version="1.0.3-pre" targetFramework="wpa81" />
  <package id="WindowsAzure.MobileServices" version="1.3.1" targetFramework="wpa81" />
  <package id="WriteableBitmapEx" version="1.0.14.0" targetFramework="wpa81" />
  <package id="Xamarin.Insights" version="1.9.1.107" targetFramework="wpa81" />
</packages>